body { color: #C1C5CC;
background-color: #484A4C;}


.navbar {
	background-color: #2E2F30;
	font-family: Arial;
	text-align: center;
	padding: 14px;
}

.navbar a{
	font-size: 20px;
	color: #F1F7FF;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-weight: bold;
}

.navbar a:hover{
	background-color: #484A4C;
}

.pagecontent {
	font-family: Arial;
	font-size: 25px;
	color: #F1F7FF;
	padding: 14px;
	margin-right: 150px;
	margin-left: 150px;
	background-color: #65696d;
}

.foot {
	font-family: Arial;
	font-size: 10px;
	color: #F1F7FF;
	padding: 14px;
	margin-right: 150px;
	margin-left: 150px;

}

.pagetitle {
	font-family: Arial;
	font-size: 50px;
	text-align: center;
	color: #F1F7FF;
	padding: 14px;
	margin-right: 150px;
	margin-left: 150px;
	background-color: #65696d;
}

.eventcontent {
	font-family: Arial;
	font-size: 15px;
	color: #F1F7FF;
	padding: 14px;
	margin-right: 200px;
	margin-left: 200px;
	background-color: #858b91;
	text-decoration: none;
	text-align: left;
	border-style: solid;
    	border-width: 2px;
}

.links {

}

.eventcontent a{
	font-family: Arial;
	font-size: 15px;
	color: #F1F7FF;
	background-color: #858b91;
	text-decoration: none;
	text-align: left;
}

.eventcontent a:hover{
	background-color: #484A4C;
}

.map {
	text-align: center;
}